h1 {
color: rgb(170, 34, 34);
text-align: center;
font-family: sans-serif;
}
#p1 {
text-align: center;
font-family: verdana;
}
#img1 {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.grid-container {
  color: red;
}
.grid-item {
  display: inline-grid;
  color: blue;
  border-style: solid;
}