.disp-a {
  display: auto;
}
.disp-b {
  display: block;
}
.disp-g {
  display: grid;
}
.disp-ig {
  display: inline grid;
}
.ctr-txt {
  text-align: center;
}
.font-sans {
  font-family: sans-serif;
  font-size: 22px;
}
.neighbor1 {
  color: red;
  background-color: gray;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}
.neighbor2 {
  color: aqua;
  background-color: blue;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}

.neighbor3 {
  color: green;
  background-color: maroon;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}
.p1 {
  font-family: verdana;
}

.p2 {
  font-family: times new roman;
  font-size: 30px;
  color: orange;
}

.p3 {
  font-family: sans-serif;
  font-size: 20px;
  color: black;
}

.img1 {
  margin-left: auto;
  margin-right: auto;
  border: solid 10px purple;
}
.chapter1 {
  display: inline-grid;
  width: 110px;
  height: 110px; 
  border: solid 5px aqua;
  color: aqua;
  margin: 40px;
  background-color: green; 
  
}

@keyframes animate1 {
  20% {
  transform: rotate(72deg);
  width: 110px;
  height: 110px;
  }
  40% {
  transform: rotate(144deg);
  width: 150px;
  height: 150px;
  }
  60% {
  transform: rotate(216deg);
  width: 110px;
  height: 110px;
  }
  80% {
  transform: rotate(288deg);
  width: 150px;
  height: 150px;
  }
  100% {
  width: 110px;
  height: 110px;
  transform: rotate(360deg);
  }
}

.custom-border {
  display: inline-grid;
  border: dotted 6px purple;
  color: blue;
  background-color: rgb(55,105,142);
  width: 110px;
  height: 110px;
  transform-origin: 50% 50%;
}
.custom-border:hover {
  animation-name: animate1;
  animation-duration: 3s;
  animation-style: easeInOutExpo;
{