.disp-a {
  display: auto;
}
.disp-b {
  display: block;
}
.disp-g {
  display: grid;
}
.disp-ig {
  display: inline grid;
}
.ctr-txt {
  text-align: center;
}
.p1 {
  font-family: verdana;
}

.p2 {
  font-family: times new roman;
  font-size: 30px;
  color: orange;
}
