.chapter3 {
  width: 160px; 
  height: 160px;
  border: solid 5px rgb(2,86,22);
  color: rgb(24,180,21);
  margin: auto;
  background-color: rgb(12,25,23);  
  display: inline-grid; 
}
.ftms {
  font-family: trebuchet-ms;
  font-size: 25px;
  text-align: center;
}

.element1 {
  background-color: white;
  animation-name: coloring1;
  animation-duration: 2s;  
  animation-iteration-count: 1;
}

@keyframes coloring1 {
  0% {
  opacity: 0%;
  background-color: black;
  }
  100% {
  opacity: 100%;
  background-color: white;
  }
}
.title1 {
  height: 90px;
  margin: auto;
  background-color: teal;
  color: red;
  font-family: verdana;
}