.chapter3 {
  width: 160px; 
  border: solid 5px rgb(25,86,228);
  color: rgb(249,180,21);
  margin: 0 0 40px 40px;
  background-color: rgb(125,25,23);   
  text-transform: lowercase;
  display: flex;
  flex-direction: column;
}
.ftms {
  font-family: trebuchet-ms;
  font-size: 25px;
  text-align: center;
}

.element1 {
  background-color: white;
  animation-name: coloring1;
  animation-duration: 2s;  
  animation-iteration-count: 1;
}

@keyframes coloring1 {
  0% {
  opacity: 0%;
  background-color: black;
  }
  100% {
  opacity: 100%;
  background-color: white;
  }
}
.pa1 {
  width: auto;
}
.title1 {
  transform: rotate(3deg);
  height: 90px;
  margin: auto;
  background-color: teal;
  color: red;
  font-family: verdana;
}