.chapter3 {
  display: inline-grid;
  width: 160px;
  height: 160px; 
  border: solid 5px rgb(25,86,228);
  color: rgb(249,180,21);
  margin: 40px;
  background-color: rgb(125,25,23);   
}

body {
  text-align: center;
  font-family: 25px;
}
.f-t-ms {
  font-family: trebuchet-ms;
  font-size: 25px;
}
.element1 {
  animation-name: coloring1;
  animation-duration: 3s;
  height: 50%;
}

.element2 {
  animation-name: coloring2;
  animation-duration: 3s;
}

.element1,.element2 {
  animation-iteration-count: infinite;
}

@keyframes coloring1 {
  0% {
  background-color: white;
  }
  20% {
  background-color: rgb(65,160,60);
  }
  }
}